* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: #F4DFC8;
}

nav {
    display: flex;
    background-color: #000000;
    justify-content: space-around;
    padding: 2rem 3rem;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    
}

nav ul li a {
    color: #FAF6F0;
    padding: 0 1rem;
    background-color: #000000;
    margin: 0 0.2rem;
    padding: 0.5rem 0.5rem;
    border-radius: 8%;
}

nav ul li a:hover {
    background-color: #FAF6F0;
    color: #000000;
}

.logo {
    align-items: center;
}

.logo h3 {
    color: #FAF6F0;
    font-size: 2rem;
}

.iconAtas {
    color: #FAF6F0;
    font-size: 2rem;
    align-self: center;
    display: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;

}

.slogan h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2.5rem;
    color: #000000;
}

.slogan p {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 500;
    color: #000000;
}

main {
    display: flex;
    background-color: #F4EAE0;
    padding: 5rem 2rem;
    justify-content: center;
}

.kopiSatu {
    width: 50%;
    margin-right: 1rem;
}

.kopiDua {
    width: 50%;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    padding: 3rem 0;
    justify-content: center;
}

.bawah h3, p {
    color: #FAF6F0;
    text-align: center;
    font-size: 1rem;
    
}

/* Responsive Breakpoint */

@media only screen and (max-width : 768px) {
    
    nav {
        flex-wrap: wrap;
    }
    
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    
    nav ul li {
        margin: 2rem;
    }

    .iconAtas {
        display: flex;
        align-self: center;
    }

    nav ul.hidden {
        display: none;

    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .kopiSatu, .kopiDua {
        margin: 1.5rem 0;
        width: 90%;
    }


}